.Contact {
    padding: 15rem 2rem;
}

@media only screen and (max-width: 56.25em) {
    .Contact {
        padding: 10rem 2rem;
        padding-bottom: 15rem !important;
    }
}

.Icon {
    color: #000 !important;
}