/*
** Resets and basic styling.
*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f5f5f5
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
    background-color: #222
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

canvas {
    display: inline-block;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-weight: normal;
    line-height: 1;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}

body,
input,
button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: common-ligatures;
    -moz-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

em,
i {
    font-style: italic;
    line-height: inherit;
}

ol,
ul {
    list-style: none;
}

li {
    display: block;
}

a {
    text-decoration: none;
    line-height: inherit;
}

.row {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .row {
    width: auto;
    max-width: none;
    margin-left: -20px;
    margin-right: -20px;
}

[class*="col-"] {
    float: left;
    padding: 0 20px;
}

[class*="col-"] + [class*="col-"].end {
    float: right;
}

.col-one {
    width: 8.33333%;
}

.col-two,
.col-1-6 {
    width: 16.66667%;
}

.col-three,
.col-1-4 {
    width: 25%;
}

.col-four,
.col-1-3 {
    width: 33.33333%;
}

.col-five {
    width: 41.66667%;
}

.col-six,
.col-1-2 {
    width: 50%;
}

.col-seven {
    width: 58.33333%;
}

.col-eight,
.col-2-3 {
    width: 66.66667%;
}

.col-nine,
.col-3-4 {
    width: 75%;
}

.col-ten,
.col-5-6 {
    width: 83.33333%;
}

.col-eleven {
    width: 91.66667%;
}

.col-twelve,
.col-full {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .row .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    [class*="col-"] {
        padding: 0 15px;
    }

    .md-two,
    .md-1-6 {
        width: 16.66667%;
    }

    .md-one {
        width: 8.33333%;
    }

    .md-three,
    .md-1-4 {
        width: 25%;
    }

    .md-four,
    .md-1-3 {
        width: 33.33333%;
    }

    .md-five {
        width: 41.66667%;
    }

    .md-six,
    .md-1-2 {
        width: 50%;
    }

    .md-seven {
        width: 58.33333%;
    }

    .md-eight,
    .md-2-3 {
        width: 66.66667%;
    }

    .md-nine,
    .md-3-4 {
        width: 75%;
    }

    .md-ten,
    .md-5-6 {
        width: 83.33333%;
    }

    .md-eleven {
        width: 91.66667%;
    }

    .md-twelve,
    .md-full {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .row {
        width: 90%;
    }

    .tab-1-4 {
        width: 25%;
    }

    .tab-1-3 {
        width: 33.33333%;
    }

    .tab-1-2 {
        width: 50%;
    }

    .tab-2-3 {
        width: 66.66667%;
    }

    .tab-3-4 {
        width: 75%;
    }

    .tab-full {
        width: 100%;
    }

    .hide-on-tablet {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
    }

    .row .row {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 0;
        padding-right: 0;
    }

    [class*="col-"] {
        padding: 0 10px;
    }

    .mob-1-4 {
        width: 25%;
    }

    .mob-1-3 {
        width: 33.33333%;
    }

    .mob-1-2 {
        width: 50%;
    }

    .mob-2-3 {
        width: 66.66667%;
    }

    .mob-3-4 {
        width: 75%;
    }

    .mob-full {
        width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .row .row {
        margin-left: 0;
        margin-right: 0;
    }

    [class*="col-"] {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    [class*="col-"] + [class*="col-"].end {
        float: none;
    }
}